<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481691224180-sohh0g2gsuhce4ihtce6mst5cdve63im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481691224180-sohh0g2gsuhce4ihtce6mst5cdve63im</string>
	<key>API_KEY</key>
	<string>AIzaSyAKLKP686mOck8qTztg6ZKuKDUMPXi5fuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>481691224180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>test-3be58</string>
	<key>STORAGE_BUCKET</key>
	<string>test-3be58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481691224180:ios:441b1bb8d75e80ba042921</string>
</dict>
</plist>